<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Travel Agency</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="fondo-crema">
    <header class="p-4 is-flex is-align-items-center is-justify-content-space-between headercf">
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <button class="button btn-cafe is-outlined" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Menu</span></button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="Main.html" class="dropdown-item">Main Page</a>
                    <a href="Profile.html" class="dropdown-item">Profile</a>
                    <a href="login.html" class="dropdown-item">Log out</a>
                </div>
            </div>
        </div>
        <div class="is-flex is-align-items-center">
            <img src="img/logo.png" alt="Logo" class="LogoAgencia">
        </div>
        <a href="Profile.html">
            <img src="src/Usuario.jpg" alt="Profile" class="PerfilImg">
        </a>
    </header>
    <main class="section">
        <div class="container is-max-desktop">
            <div class="columns is-variable is-6">
                <div class="column is-7 ColumnaScroll">
                    <div class="field mb-5">
                        <div class="control">
                            <input id="buscador-destinos" name="search" class="input input-boutique is-medium"
                                type="text" placeholder="Search destinations...">
                        </div>
                    </div>
                    <div id="contenedor-destinos" class="columns is-multiline">
                        <!-- destinos -->
                    </div>
                </div>
                <div class="column is-5">
                    <div class="box p-5 caja-clima-boutique">
                        <h3 class="title is-4 has-text-centered texto-crema mb-4">Current Weather</h3>
                        <div class="clima-carrusel" id="carrusel-clima">
                            <!-- tarjetas de clima -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Clima Transparente -->
    <div id="modal-clima" class="modal">
        <div class="modal-background" onclick="cerrarModalClima()"></div>
        <div class="modal-content">
            <div class="box modal-clima-transparente p-6 has-text-centered">
                <h3 id="modal-clima-ciudad" class="title is-2 texto-espresso mb-2"></h3>
                <p id="modal-clima-temp" class="title is-1 texto-terracota mb-4"></p>
                <p id="modal-clima-desc" class="is-size-5 texto-cafe-oscuro mb-2 has-text-weight-semibold"></p>
                <p id="modal-clima-humedad" class="is-size-6 texto-cafe-oscuro mb-5"></p>
                <button class="button btn-cafe-solido is-medium" onclick="cerrarModalClima()">Close</button>
            </div>
        </div>
    </div>
    <script>
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = 'login.html';
        }

        async function cargarDestinos() {
            try {
                const response = await fetch('http://localhost:8080/api/destinations', {
                    headers: { 'Authorization': `Bearer ${token}` }
                });

                const destinos = await response.json();

                document.getElementById('contenedor-destinos').innerHTML = destinos.map(d => `
            <div class="column is-6">
                <div class="box is-paddingless TarjetaDestino"
                     style="background-color:#FFFFFF;border:1px solid #DCD3C6;transition:.3s;cursor:pointer;"
                     onclick="window.location.href='journey.html?id=${d.id}'">
                    <img src="${d.imageUrl}" alt="${d.city}" class="ImagenDestino" Loading ="lazy"
                         style="border-radius:6px 6px 0 0;">
                    <div class="p-3 has-text-centered">
                        <p class="texto-cafe-oscuro is-size-7">
                            <strong class="texto-espresso">${d.city}, ${d.country}</strong>
                            <br>
                            ${d.description}
                        </p>
                    </div>
                </div>
            </div>
        `).join('');

                cargarTodosLosClimas(destinos);

            } catch (error) {
                console.error('Error cargando destinos:', error);
            }
        }

        async function cargarTodosLosClimas(destinos) {
            const contenedor = document.getElementById('carrusel-clima');
            contenedor.innerHTML = '<p class="has-text-centered texto-crema">Loading weather...</p>';

            const climas = [];

            for (const destino of destinos) {
                try {
                    const response = await fetch(
                        `http://localhost:8080/api/destinations/${destino.id}/weather`,
                        { headers: { Authorization: `Bearer ${token}` } }
                    );

                    if (!response.ok) continue;

                    const clima = await response.json();

                    climas.push({
                        city: destino.city,
                        country: destino.country,
                        image: destino.imageUrl,
                        weather: clima.forecast[0]
                    });

                } catch (e) {
                    console.error(`Error clima ${destino.city}:`, e);
                }
            }

            iniciarCarruselClima(climas);
        }

        function iniciarCarruselClima(climas) {
            const contenedor = document.getElementById('carrusel-clima');
            let indice = 0;

   
         

            function mostrarClima() {
                contenedor.style.opacity = '0';
                contenedor.style.transform = 'translateY(15px)';

                setTimeout(() => {
                    const clima = climas[indice];

                    contenedor.innerHTML = `
    <div class="weather-card" style="background-image: url('${clima.image}');">
        <img src="${clima.weather.icon}" class="weather-icon mb-2" style="width:95px; height:95px;">
        <h2 class="title is-3 has-text-white" style="margin-bottom: 2px;">${clima.city}</h2>
<p class="has-text-white" style="font-size: 0.75rem; opacity: 0.8; margin-bottom: 0.8rem; letter-spacing: 1px; text-transform: uppercase;">${clima.country}</p>
        <p class="weather-temp mb-1">${clima.weather.maxTemp}°</p>
        <p class="weather-condition mb-1">${clima.weather.condition}</p>
        <p class="weather-min">Min ${clima.weather.minTemp}°C</p>
    </div>
`;

                    contenedor.style.opacity = '1';
                    contenedor.style.transform = 'translateY(0)';

                    indice = (indice + 1) % climas.length;

                }, 300);
            }

            mostrarClima();
            setInterval(mostrarClima, 3000);
        }

        function cerrarModalClima() {
            document.getElementById('modal-clima').classList.remove('is-active');
        }

        cargarDestinos();
    </script>
</body>

</html>